<!-- Nav Bar -->
<div class="menu-search">
  <div class="menu-search">
    <div class="home-menu-search">
      <img src="/assets/home-icon.svg"alt="Menu"class="home-menu"
      />
      <div class="home-frame">
        <div class="home-group">
          <div class="home-iconly-broken-search">
            <img src="/assets/search-icon.svg"
              alt="Search icon"
              class="home-search"
            />
          </div>
         <input type="text" style="border:none; outline:none;" class="home-text20" placeholder="Search Product">
        </div>
      </div>
    </div>
    <!-- Home Heading -->
    <div class="home-headline">
      <span class="home-text16 headline1">
        <span>Find your suitable</span>
        <br />
        <span>watch now.</span>
      </span>
    </div>
<!-- Home category -->
    <!-- <mat-tab-group class="home-category">
      <mat-tab class="home-text12 subline1" label="Smart watch"> Content 1 </mat-tab>
      <mat-tab class="home-text13 subline2" label="Casio"> Content 2 </mat-tab>
      <mat-tab class="home-text14 subline2" label="Tissot"> Content 3 </mat-tab>
      <mat-tab class="home-text15 subline2" label="Seiko"> Content 4 </mat-tab>
    </mat-tab-group> -->
    <div class="home-category">
      <span class="home-text12 subline1">Smart watch</span>
      <span class="home-text13 subline2">Casio</span>
      <span class="home-text14 subline2">Tissot</span>
      <span class="home-text15 subline2">Seiko</span>
    </div>
<!-- Product Card -->
    <div class="home-product-card">
      <div class="home-amazfitbipu">
        <div class="home-frame4">
          <div class="home-watch">
            <a style="cursor:pointer ;" routerLink="/product/1" routerLinkActive="active">
            <img src="/assets/amazonfit.png" class="home-bip-u-pro-series"
            />
            </a>
          </div>
        </div>
        <div class="home-frame-amazon">
          <div class="home-frame-amazon1">
            <span class="home-text headline3">Amazfit Bip U</span>
            <span class="home-text1 textSmall">Pro Series</span>
          </div>
          <span class="home-text2 textPrice1">$199</span>
        </div>
      </div>
      <div class="home-mi-watch">
        <div class="home-frame3">
          <div class="home-watch1">
            <div class="home-m-i-watch1">
              <a style="cursor:pointer;" routerLink="/product/1" routerLinkActive="active">
              <img src="/assets/mi.png" class="home-all-series"
              />
              </a>
            </div>
          </div>
        </div>
        <div class="home-frame-mi">
          <div class="home-frame-mi1 ">
            <span class="home-text3 headline3">Mi Watch</span>
            <span class="home-text4 textSmall">All Series</span>
          </div>
          <span class="home-text5 textPrice1">$299</span>
        </div>
      </div>
      <div class="home-galaxy-watch">
        <div class="home-frame-galaxy">
          <div class="home-watch2">
            <div class="home-galaxy-watch1">
            <a routerLink="/product/1">
              <img src="/assets/galaxy.png" class="home-series4"/>
            </a>
            </div>
          </div>
        </div>
        <div class="home-frame-galaxywatch ">
          <div class="home-frame-galaxy1">
            <span class="home-text6 headline3">Galaxy Watch</span>
            <span class="home-text7 textSmall">Series 4</span>
          </div>
          <span class="home-text8 textPrice1">$599</span>
        </div>
      </div>
      <div class="home-apple-watch">
        <div class="home-frame-apple">
          <div class="home-watch3">
            <div class="home-apple-watch1">
              <a style="cursor:pointer ;" routerLink="/product/1" routerLinkActive="active">
              <img
                src="/assets/apple.png"
                class="home-series7"
              /> </a>
            </div>
          </div>
        </div>

        <div  class="home-frame-applewatch">
          <div routerLink='/product' class="home-frame-apple1">
         <span class="home-text9 headline3">Apple Watch</span>
            <span class="home-text10 textSmall">Series 7</span>
          </div>
          <span class="home-text11 textPrice1">$799</span>
        </div>
      </div>
    </div>
  </div>
</div>
