<!--Product Header  -->
<div class="detail-product-container">
  <div class="detail-product-detail-product">
    <img src="/assets/apple-product.png" class="detail-product-series7"
    />
    <div class="detail-product-frame-arrow">
      <div class="detail-product-iconly-broken-arrow-left">
        <div class="detail-product-iconly-broken-arrow-left1">
          <div class="detail-product-arrow-left">
            <a routerLink="/" >
            <img src="/assets/back-icon.svg" class="detail-product-svg4"
            />
          </a>
          </div>
        </div>
      </div>
      <div class="detail-product-iconly-broken-heart">
        <div class="detail-product-heart">
          <img src="/assets/heart-icon.svg" class="detail-product-svg5"
          />
        </div>
      </div>
    </div>

<!-- Product Details -->
    <div class="detail-product-details">
      <div class="detail-product-headline">
        <div class="detail-product-frame-apple">
          <span class="detail-product-text13 headline2">
            Apple Watch Series 7
          </span>
          <span class="detail-product-text14 textSmall">
            ( With solo loop )
          </span>
        </div>
        <span class="detail-product-text15 textPrice2">$799</span>
      </div>
<!-- Product Color -->
      <div class="detail-product-colors">
        <span class="detail-product-text12 subline1">Colors</span>
        <div class="detail-product-colors-choose">

          <div class="detail-product-frame-chalk">
            <div class="detail-product-group-chalk">
              <img src="/assets/chalk.svg" class="detail-product-svg2"
              />
              <span class="detail-product-text10 textSmall">Chalk Pink</span>
            </div>
          </div>
          <div class="detail-product-frame-colors">
            <div class="detail-product-group-colors">
              <img src="/assets/nectarine.svg"class="detail-product-svg1"
              />
              <span class="detail-product-text9 textSmall">Nectarine</span>
            </div>
          </div>
          <div class="detail-product-frame-eucalyptus">
            <div class="detail-product-group-eucalyptus">
              <img src="/assets/eucalyptus.svg" class="detail-product-svg3"
              />
              <span class="detail-product-text11 textSmall">Eucalyptus</span>
            </div>
          </div>
        </div>
      </div>
<!-- Product Details  -->
      <div class="detail-product-details-review">
        <div class="detail-product-group-details">
          <div class="detail-productColor">
            <span class="detail-product-text7 subline2">Details</span>
          </div>
          <span class="detail-product-text8 subline2">Review</span>
        </div>
        <span class="detail-product-text1 text">
          <span>The aluminium case is lightweight and made</span>
          <br />
          <span>from 100 percent recycled aerospace</span>
          <br />
          <span>grade alloy.</span>
        </span>
      </div>
      <button class="detail-product-button">
        <span class="detail-product-text">Add to cart</span>
      </button>
    </div>
  </div>
</div>
